@font-face {
	font-family: 'Linearicons-Free';
	src:url('../fonts/Linearicons-Free.eot');
	src:url('../fonts/Linearicons-Free-1.eot') format('embedded-opentype'),
		url('../fonts/Linearicons-Free.woff2') format('woff2'),
		url('../fonts/Linearicons-Free.woff') format('woff'),
		url('../fonts/Linearicons-Free.ttf') format('truetype'),
		url('../fonts/Linearicons-Free.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.lnr {
	font-family: 'Linearicons-Free';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.lnr-home:before {
	content: "\e800";
}
.lnr-magic-wand:before {
	content: "\e803";
}
.lnr-heart:before {
	content: "\e813";
}
.lnr-envelope:before {
	content: "\e818";
}
.lnr-phone-handset:before {
	content: "\e830";
}
.lnr-bubble:before {
	content: "\e83f";
}
.lnr-rocket:before {
	content: "\e84b";
}
.lnr-bug:before {
	content: "\e869";
}
.lnr-cross:before {
	content: "\e870";
}
.lnr-menu:before {
	content: "\e871";
}
.lnr-chevron-up:before {
	content: "\e873";
}
.lnr-chevron-down:before {
	content: "\e874";
}
.lnr-arrow-up:before {
	content: "\e877";
}
.lnr-arrow-down:before {
	content: "\e878";
}
.lnr-arrow-right:before {
	content: "\e87a";
}
.lnr-calendar-full:before {
	content: "\e836";
}
